* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

header {
  padding: 1em;
  background-color: #9a7b4f;
  text-align: center;
}

.title {
  padding: 1em;
  font-family: 'Patua One', cursive;
  color: white;
  text-shadow: 6px 6px #333;
}

h2 {
  text-align: center;
  font-family: 'Patua One', cursive;
}

img {
  width: 250px;
  height: 250px;
  display: auto;
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Add a grey background color to the top navigation */

nav {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(238, 238, 238, 0.9);
  overflow: hidden;
}

/* Style the links inside the navigation bar */

.navbar a {
  font-family: 'Patua One', cursive;
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

/* Add a color to the active/current link */

.navbar a.active {
  background-color: #00704A;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Page layout styling */

#root {
  display: flex;
  flex-direction: column;
}

.column-layout {
  display: block;
}

/* User Icon Styling */

#userIcon {
  float: right;
  height: 2.5rem;
  font-size: 1.5rem;
  padding: .3rem;
  margin-right: 1rem;
  margin-top: .5rem;
  color: grey;
  border-radius: 25%;
}

#userIcon:hover, #userIcon:active{
  background-color: #00704a;
  color: white;
}

/* Login page styling */

.signin, .signout {
  margin-top: 5em;
  margin-bottom: 30em;
  justify-content: center;
  text-align: center;
}

.signout button {
  width: 10em;
  height: 3em;
  font-size: medium;
  background-color: #00704a;
  color: white;
}

.signin h2, .signout h2 {
  display: block;
}

/*styling on landing page */

.about-container-wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(138, 188, 159, 0.5);
  padding: 2em 0;
  text-align: center;
  justify-content: center;
}

.video-container {
  height: 0;
  width: 100%;
  position: relative;
  padding-bottom: 50%;
}

.video {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.mission {
  background-color: #edf4f0;
  padding: 3em;
  text-align: center;
}

.description {
  text-align: center;
}

p {
  text-align: center;
  margin: 0.75em 0;
  line-height: 2;
}

.mission h2, .description h2, .authorInfo h2 {
  display: block;
}

/* Cards styling */

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 250px;
  flex: 0 0 150px;
  background-color: white;
  margin: .5rem;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}

.card ul {
  padding: .5rem 1rem;
  text-align: center;
  list-style-type: none;
}

.card h3 {
  font-family: 'Patua One', cursive;
  padding: .5rem 1rem;
  text-align: center;
}

/* Categories and Sort by section styling*/

section {
  padding: 1em;
}

.interactiveSections {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: rgba(138, 188, 159, 0.5);
}

/* favorite page styling */
.favButton {
  margin-top: 1em;
}

/* Footer styling */

footer {
  text-align: center;
  font-size: small;
}

/* Styling for devices bigger than moblie phones */

@media (min-width: 598px) {
  .card {
    flex: 0 0 150px;
  }
}

/* Styling for devices bigger than tablets */

@media (min-width: 768px) {
  header {
    padding: 3em;
    background: url("./img/beans.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;
  }
  h1 {
    font-size: 48px;
  }
}

/* Styling for bigger tablets such as iPad pros */

@media (min-width: 992px) {
  .interactiveSections {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: white;
  }
  .column-layout {
    display: flex;
  }
  .result-section {
    width: 100%;
  }
  img {
    width: 180px;
    height: 180px;
  }
  h2 {
    display: block;
  }
  .mobile-dropdown {
    display: none;
  }
}

/* Styling for devices bigger larger tablets */

@media (min-width: 1200px) {
  img {
    width: 250px;
    height: 250px;
  }
  .signout button {
    background-color: none;
    color: none;
  }
  .signout button:active, button:hover {
    background-color: #00704a;
    color: white;
  }
}